.jumbotron
{
    background: url("images/Bonzai\ -\ Background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    margin-bottom: 0px;
    min-height: 100vh;
}

.content
{
	background-color: #b3e4f1;
}

.navbar
{
	background-color: #b3e4f1;
}

.nav-item-logo
{
    /*background: url("images/Bonzai\ -\ Logo.png") no-repeat center center fixed; */
    width: 55px;
    height: 56px;
    object-fit: scale-down;
    border: none;
    cursor: pointer;
    appearance: none;
    transition: transform .7s ease-in-out;
    margin-left:10px;
}

.account-button
{
    background-color: #b3e4f1;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 2px 2px black;
    font-size: 22px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.account-button:hover
{
    background-color: #66cde9;
}

.account-button:active
{
    background-color: #14b4e0;
    transform: scale(0.98);
    box-shadow: 0px 0px 0px 0px black;
}

.search-button
{
    background-color: #b3e4f1;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 2px 2px black;
    font-size: 18px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.search-button:hover
{
    background-color: #66cde9;
}

.search-button:active
{
    background-color: #14b4e0;
    transform: scale(0.98);
    box-shadow: 0px 0px 0px 0px black;
}

.help-button
{
    background-color: #b3e4f1;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 2px 2px black;
    font-size: 18px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.help-button:hover
{
    background-color: #66cde9;
}

.help-button:active
{
    background-color: #14b4e0;
    transform: scale(0.98);
    box-shadow: 0px 0px 0px 0px black;
}

.settings-button
{
    background-color: #b3e4f1;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 2px 2px black;
    font-size: 18px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.settings-button:hover
{
    background-color: #66cde9;
}

.settings-button:active
{
    background-color: #14b4e0;
    transform: scale(0.98);
    box-shadow: 0px 0px 0px 0px black;
}

.sign-out-button
{
    background-color: #b3e4f1;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 2px 2px black;
    font-size: 18px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.sign-out-button:hover
{
    background-color: #66cde9;
}

.sign-out-button:active
{
    background-color: #14b4e0;
    transform: scale(0.98);
    box-shadow: 0px 0px 0px 0px black;
}

.sign-in-button
{
    background-color: #b3e4f1;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 2px 2px black;
    font-size: 18px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.sign-in-button:hover
{
    background-color: #66cde9;
}

.sign-in-button:active
{
    background-color: #14b4e0;
    transform: scale(0.98);
    box-shadow: 0px 0px 0px 0px black;
}

.sign-up-button
{
    background-color: #b3e4f1;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 2px 2px black;
    font-size: 18px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.sign-up-button:hover
{
    background-color: #66cde9;
}

.sign-up-button:active
{
    background-color: #14b4e0;
    transform: scale(0.98);
    box-shadow: 0px 0px 0px 0px black;
}

.navbar-brand
{
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 50px !important;
    line-height: 30px !important;
    color: black !important;
}